<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hands Free Code</title>

    <link rel="stylesheet" href="../static/codemirror.css">
	<!-- <link rel="stylesheet" href="/static/codemirror-5.36.0/lib/codemirror.css"> -->
</head>
<body>
	<textarea id="code-area" cols="50" rows="5"># Hi, your code will appear here</textarea>

	<div id="changeMe">To be changed by server!</div>
    <p id="another-msg"></p>
	<script src="../static/codemirror.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    </script>
	<script type="text/javascript">
	var editor = CodeMirror.fromTextArea($('#code-area'), {
	    lineNumbers: true
	});
	$(document).ready(function() {
        const socket = io.connect('http://127.0.0.1:5000/morecode');
        socket.on('moreofmycode', function(msg) {
            console.log('more code called!');
            $('#code-area').val(msg.data)
        });

        socket.on('my response', function(msg) {
            console.log('my response called!');
            $('#another-msg').val(msg.data)
        });
	});
	</script>
</body>
</html>
